[submodule "AppCore"]
	path = AppCore
	url = https://github.com/Sage-Bionetworks/AppCore.git
[submodule "BridgeSDK"]
	path = BridgeSDK
	url = https://github.com/Sage-Bionetworks/Bridge-iOS-SDK.git
[submodule "PDScores"]
	path = PDScores
	url = https://github.com/Sage-Bionetworks/PDScores.git
[submodule "ResearchKit"]
	path = ResearchKit
	url = https://github.com/Sage-Bionetworks/ResearchKit.git
[submodule "mPowerSDK"]
	path = mPowerSDK
	url = https://github.com/Sage-Bionetworks/mPowerSDK.git
[submodule "BridgeAppSDK"]
	path = BridgeAppSDK
	url = https://github.com/Sage-Bionetworks/BridgeAppSDK.git
[submodule "ZipZap"]
	path = ZipZap
	url = https://github.com/pixelglow/ZipZap.git
